src_images/
results_images_edfinder/
magda/assets
magda/results - images
magda/Application/SAVE.py
magda/Application/testAnim2.py
magda/Application/TestAnim.py

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

.idea/

__pycache__/
Agata/exam2.dcm
magda/best_src/
